


body{
    align-content: center;
    margin: 1%;
}


header{
    font-size: larger;
    align-self: center;
    width: 70%;
    text-align: center;
    margin: auto;
    height: 10%;
    border: double;
    background-color: brown;
}


#insertTable{
    align-self: center;
    margin: 30px;
    width: 50%;
    height: 30%;

}


#specialTable{
    border: groove;
    width: 100%;
}


#foodAndCommentRow{
    text-align: center;
    align-self: center;
    align-content: center;
    margin: 1%;
}


#startAndEndRow{
    align-content: center;
    text-align: center;
    align-self: center;
    margin: 1%;
    height: 60%;
}